## Joining Starbucks and 1M Companies

In [1]:
import json
import pandas as pd
import connectionMongoDB as mongo

- Connecting with 1MCompanies database in mongoDB.

In [2]:
dbcomp, collcomp = mongo.connectCollection('companies','1MCompanies')

In [3]:
with open('./output/starbucks.json', 'r') as myfile:
    data=myfile.read()
obj = json.loads(data)
starbucks=pd.DataFrame(obj)

In [4]:
starbucks=starbucks.rename(columns={"latitude":"Latitude_starbucks","longitude":"Longitude_starbucks","refcomp":"ref"})

- Changing the objectId of companies to string, and adding the column ref to use it after to compare both dataframes.

In [15]:
ref_strb=list(starbucks['ref'])

In [6]:
companies = list(collcomp.find())

In [16]:
refid=[]
for c in companies:
    refid.append(str(c["_id"]))

In [20]:
companies_df=pd.DataFrame(companies)

In [21]:
companies_df['ref']=refid

- Now we can relate the companies with more than 1M$ raised and the ones that have starbucks near.

In [31]:
companies_df.head()

,ref,Name,Category,Description,Latitude,Longitude,Founded Year,Total Money Raised,Raised Amount,Currency,Address,Zip code,City,GeoLocations
0,5dd59811fc1c02fda798c75c,Scribd,news,Read Unlimited Books,37.789634,-122.404052,2007.0,$25.8M,25762000.0,USD,539 Bryant Street,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.404052,..."
1,5dd59811fc1c02fda798c75d,Digg,news,user driven social content website,37.764726,-122.394523,2004.0,$45M,45000000.0,USD,135 Mississippi St,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.394523,..."
2,5dd59811fc1c02fda798c75e,Lala,games_video,hub for online music discovery,37.451151,-122.154369,NaN,$44.2M,44150000.0,USD,209 Hamilton Ave,94301,Palo Alto,"{'type': 'Point', 'coordinates': [-122.154369,..."
3,5dd59811fc1c02fda798c75f,Slacker,music,Music Personalization Suite,33.022176,-117.081406,2006.0,$73.1M,73100000.0,USD,16935 W. Bernardo Dr. Suite 101,92127,San Diego,"{'type': 'Point', 'coordinates': [-117.081406,..."
4,5dd59811fc1c02fda798c760,MeetMoi,social,Mobile Dating,40.757929,-73.985506,2007.0,$5.58M,5575000.0,USD,,,New York City,"{'type': 'Point', 'coordinates': [-73.985506, ..."

- Droping the _id column.

In [26]:
companies_df=companies_df.drop('_id',axis=1)

In [28]:
merge=pd.merge(starbucks,companies_df,how="inner",on='ref')

In [30]:
merge.to_json('./output/merge_stb_1M.json', orient="records")