## Joining Starbucks and 1M Companies

In [1]:
import json
import pandas as pd
import connectionMongoDB as mongo

In [2]:
dbcomp, collcomp = mongo.connectCollection('companies','1MCompanies')

In [3]:
with open('./output/starbucks.json', 'r') as myfile:
    data=myfile.read()
obj = json.loads(data)
starbucks=pd.DataFrame(obj)

In [4]:
starbucks=starbucks.rename(columns={"latitude":"Latitude_starbucks","longitude":"Longitude_starbucks","refcomp":"ref"})

In [15]:
ref_strb=list(starbucks['ref'])

In [6]:
companies = list(collcomp.find())

In [16]:
refid=[]
for c in companies:
    refid.append(str(c["_id"]))

In [20]:
companies_df=pd.DataFrame(companies)

In [21]:
companies_df['ref']=refid

In [23]:
companies_df

,_id,ref,Name,Category,Description,Latitude,Longitude,Founded Year,Total Money Raised,Raised Amount,Currency,Address,Zip code,City,GeoLocations
0,5dd59811fc1c02fda798c75c,5dd59811fc1c02fda798c75c,Scribd,news,Read Unlimited Books,37.789634,-122.404052,2007.0,$25.8M,25762000.0,USD,539 Bryant Street,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.404052,..."
1,5dd59811fc1c02fda798c75d,5dd59811fc1c02fda798c75d,Digg,news,user driven social content website,37.764726,-122.394523,2004.0,$45M,45000000.0,USD,135 Mississippi St,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.394523,..."
2,5dd59811fc1c02fda798c75e,5dd59811fc1c02fda798c75e,Lala,games_video,hub for online music discovery,37.451151,-122.154369,NaN,$44.2M,44150000.0,USD,209 Hamilton Ave,94301,Palo Alto,"{'type': 'Point', 'coordinates': [-122.154369,..."
3,5dd59811fc1c02fda798c75f,5dd59811fc1c02fda798c75f,Slacker,music,Music Personalization Suite,33.022176,-117.081406,2006.0,$73.1M,73100000.0,USD,16935 W. Bernardo Dr. Suite 101,92127,San Diego,"{'type': 'Point', 'coordinates': [-117.081406,..."
4,5dd59811fc1c02fda798c760,5dd59811fc1c02fda798c760,MeetMoi,social,Mobile Dating,40.757929,-73.985506,2007.0,$5.58M,5575000.0,USD,,,New York City,"{'type': 'Point', 'coordinates': [-73.985506, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,5dd59811fc1c02fda798d8ea,5dd59811fc1c02fda798d8ea,InSound Medical,biotech,Hearing Devices,37.512038,-121.998513,NaN,$11M,11000000.0,USD,39660 Eureka Drive,94560,Newark,"{'type': 'Point', 'coordinates': [-121.998513,..."
4495,5dd59811fc1c02fda798d8eb,5dd59811fc1c02fda798d8eb,Nellix,None,,37.449972,-122.116178,NaN,$6.5M,6500000.0,USD,2465-B Faber Place,94303,Palo Alto,"{'type': 'Point', 'coordinates': [-122.1161779..."
4496,5dd59811fc1c02fda798d8ec,5dd59811fc1c02fda798d8ec,Celestial Semiconductor,semiconductor,,37.386417,-121.929170,2004.0,$2M,2000000.0,USD,"2635 North 1st Street, Suite 150",95134,San Jose,"{'type': 'Point', 'coordinates': [-121.92917, ..."
4497,5dd59811fc1c02fda798d8ed,5dd59811fc1c02fda798d8ed,Getyoo,mobile,NFC Events Solutions,50.839970,4.346472,2009.0,â‚¬1.13M,1130000.0,EUR,"Rue des Tanneurs, 60a",1000,Brussels,"{'type': 'Point', 'coordinates': [4.3464721, 5..."
4498,5dd59811fc1c02fda798d8ee,5dd59811fc1c02fda798d8ee,Purfresh,cleantech,,37.477008,-122.151599,1996.0,$62.7M,62700000.0,USD,"1350 Willow Road,",94025,Menlo Park,"{'type': 'Point', 'coordinates': [-122.151599,..."

In [26]:
companies_df=companies_df.drop('_id',axis=1)

In [28]:
merge=pd.merge(starbucks,companies_df,how="inner",on='ref')

In [30]:
merge.to_json('./output/merge_stb_1M.json', orient="records")