## Schools Filtering Fom Starbucks filter

In [16]:
import pandas as pd
import re
import getpass
import json
import numpy as np
import json
from IPython.display import clear_output
import getLocation as gl
import googleNearBy_API as near

In [17]:
with open('./output/merge_stb_1M.json', 'r') as myfile:
    data=myfile.read()
obj = json.loads(data)
stb_1M=pd.DataFrame(obj)
stb_1M.head()

,ref,Latitude_starbucks,Longitude_starbucks,geoloc_stb,Name,Category,Description,Latitude,Longitude,Founded Year,Total Money Raised,Raised Amount,Currency,Address,Zip code,City,GeoLocations
0,5dd59811fc1c02fda798c75c,37.790070,-122.402083,"{'type': 'Point', 'coordinates': [-122.4020826...",Scribd,news,Read Unlimited Books,37.789634,-122.404052,2007.0,$25.8M,25762000.0,USD,539 Bryant Street,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.404052,..."
1,5dd59811fc1c02fda798c75d,37.767287,-122.393926,"{'type': 'Point', 'coordinates': [-122.3939261...",Digg,news,user driven social content website,37.764726,-122.394523,2004.0,$45M,45000000.0,USD,135 Mississippi St,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.394523,..."
2,5dd59811fc1c02fda798c75e,37.446737,-122.160489,"{'type': 'Point', 'coordinates': [-122.1604894...",Lala,games_video,hub for online music discovery,37.451151,-122.154369,NaN,$44.2M,44150000.0,USD,209 Hamilton Ave,94301,Palo Alto,"{'type': 'Point', 'coordinates': [-122.154369,..."
3,5dd59811fc1c02fda798c75f,33.023418,-117.081877,"{'type': 'Point', 'coordinates': [-117.081877,...",Slacker,music,Music Personalization Suite,33.022176,-117.081406,2006.0,$73.1M,73100000.0,USD,16935 W. Bernardo Dr. Suite 101,92127,San Diego,"{'type': 'Point', 'coordinates': [-117.081406,..."
4,5dd59811fc1c02fda798c760,40.759393,-73.985288,"{'type': 'Point', 'coordinates': [-73.985288, ...",MeetMoi,social,Mobile Dating,40.757929,-73.985506,2007.0,$5.58M,5575000.0,USD,,,New York City,"{'type': 'Point', 'coordinates': [-73.985506, ..."

In [22]:
import time
count=0
schools=[]
for _,row in stb_1M.iterrows():
    clear_output()
    count+=1
    print(count)
    s=dict()
    lat=row['Latitude']
    long=row['Longitude']
    dat=near.placesearch(lat,long,1000,"Elementary School")
    if dat['status']!='ZERO_RESULTS' and dat['status']!='REQUEST_DENIED'and dat['status']!='INVALID_REQUEST':
        lt=dat['results'][0]['geometry']['location']['lat']
        lg=dat['results'][0]['geometry']['location']['lng']
        s['ref']=row['ref']
        s['latitude_schools']=lt
        s['longitude_schools']=lg
        s['geoloc_school']=gl.getLocation(lg,lt)
        schools.append(s) 
    time.sleep(1)

812

In [23]:
sch_stb_1M=pd.DataFrame(schools)

In [24]:
sch_stb_1M

,ref,latitude_schools,longitude_schools,geoloc_school
0,5dd59811fc1c02fda798c75c,37.798463,-122.403093,"{'type': 'Point', 'coordinates': [-122.4030926..."
1,5dd59811fc1c02fda798c75d,37.760581,-122.395844,"{'type': 'Point', 'coordinates': [-122.3958437..."
2,5dd59811fc1c02fda798c75e,37.443089,-122.143181,"{'type': 'Point', 'coordinates': [-122.1431815..."
3,5dd59811fc1c02fda798c75f,33.030247,-117.086845,"{'type': 'Point', 'coordinates': [-117.0868455..."
4,5dd59811fc1c02fda798c760,40.765788,-73.989530,"{'type': 'Point', 'coordinates': [-73.98953019..."
...,...,...,...,...
722,5dd59811fc1c02fda798ca94,45.506218,-122.676052,"{'type': 'Point', 'coordinates': [-122.6760522..."
723,5dd59811fc1c02fda798ca95,37.386764,-122.024751,"{'type': 'Point', 'coordinates': [-122.0247508..."
724,5dd59811fc1c02fda798ca96,37.766440,-122.418942,"{'type': 'Point', 'coordinates': [-122.4189417..."
725,5dd59811fc1c02fda798ca97,48.868026,2.327005,"{'type': 'Point', 'coordinates': [2.327005, 48..."
726,5dd59811fc1c02fda798ca98,40.736222,-73.982504,"{'type': 'Point', 'coordinates': [-73.98250380..."

In [26]:
merge_sch_stb=pd.merge(sch_stb_1M,stb_1M,how="inner",on='ref')

In [25]:
stb_1M.shape

(812, 17)

In [28]:
merge_sch_stb.to_json('./output/StarbucksSchool_1M.json', orient="records")

In [29]:
merge_sch_stb

,ref,latitude_schools,longitude_schools,geoloc_school,Latitude_starbucks,Longitude_starbucks,geoloc_stb,Name,Category,Description,Latitude,Longitude,Founded Year,Total Money Raised,Raised Amount,Currency,Address,Zip code,City,GeoLocations
0,5dd59811fc1c02fda798c75c,37.798463,-122.403093,"{'type': 'Point', 'coordinates': [-122.4030926...",37.790070,-122.402083,"{'type': 'Point', 'coordinates': [-122.4020826...",Scribd,news,Read Unlimited Books,37.789634,-122.404052,2007.0,$25.8M,25762000.0,USD,539 Bryant Street,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.404052,..."
1,5dd59811fc1c02fda798c75d,37.760581,-122.395844,"{'type': 'Point', 'coordinates': [-122.3958437...",37.767287,-122.393926,"{'type': 'Point', 'coordinates': [-122.3939261...",Digg,news,user driven social content website,37.764726,-122.394523,2004.0,$45M,45000000.0,USD,135 Mississippi St,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.394523,..."
2,5dd59811fc1c02fda798c75e,37.443089,-122.143181,"{'type': 'Point', 'coordinates': [-122.1431815...",37.446737,-122.160489,"{'type': 'Point', 'coordinates': [-122.1604894...",Lala,games_video,hub for online music discovery,37.451151,-122.154369,NaN,$44.2M,44150000.0,USD,209 Hamilton Ave,94301,Palo Alto,"{'type': 'Point', 'coordinates': [-122.154369,..."
3,5dd59811fc1c02fda798c75f,33.030247,-117.086845,"{'type': 'Point', 'coordinates': [-117.0868455...",33.023418,-117.081877,"{'type': 'Point', 'coordinates': [-117.081877,...",Slacker,music,Music Personalization Suite,33.022176,-117.081406,2006.0,$73.1M,73100000.0,USD,16935 W. Bernardo Dr. Suite 101,92127,San Diego,"{'type': 'Point', 'coordinates': [-117.081406,..."
4,5dd59811fc1c02fda798c760,40.765788,-73.989530,"{'type': 'Point', 'coordinates': [-73.98953019...",40.759393,-73.985288,"{'type': 'Point', 'coordinates': [-73.985288, ...",MeetMoi,social,Mobile Dating,40.757929,-73.985506,2007.0,$5.58M,5575000.0,USD,,,New York City,"{'type': 'Point', 'coordinates': [-73.985506, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,5dd59811fc1c02fda798ca94,45.506218,-122.676052,"{'type': 'Point', 'coordinates': [-122.6760522...",45.511949,-122.682051,"{'type': 'Point', 'coordinates': [-122.6820510...",SnapNames,network_hosting,Domain Name Auction Site,45.512051,-122.679256,2000.0,$8.8M,8800000.0,USD,1600 SW 4th Ave,97201,Portland,"{'type': 'Point', 'coordinates': [-122.6792559..."
723,5dd59811fc1c02fda798ca95,37.386764,-122.024751,"{'type': 'Point', 'coordinates': [-122.0247508...",37.388355,-122.030365,"{'type': 'Point', 'coordinates': [-122.030365,...",CoAdna Photonics,hardware,None,37.394723,-122.034634,NaN,$2.63M,2630000.0,USD,733 Palomar Ave.,94085,Sunnyvale,"{'type': 'Point', 'coordinates': [-122.034634,..."
724,5dd59811fc1c02fda798ca96,37.766440,-122.418942,"{'type': 'Point', 'coordinates': [-122.4189417...",37.777090,-122.417298,"{'type': 'Point', 'coordinates': [-122.4172976...",doubleTwist,software,Music for the Internet of Things,37.775196,-122.419204,2007.0,$7.5M,7500000.0,USD,568 Howard Street,,San Francisco,"{'type': 'Point', 'coordinates': [-122.419204,..."
725,5dd59811fc1c02fda798ca97,48.868026,2.327005,"{'type': 'Point', 'coordinates': [2.327005, 48...",48.870117,2.327782,"{'type': 'Point', 'coordinates': [2.3277819157...",Exalead,search,,48.869310,2.324782,2000.0,$15.6M,15600000.0,USD,10 place de la madeleine,75008,Paris,"{'type': 'Point', 'coordinates': [2.324782, 48..."
726,5dd59811fc1c02fda798ca98,40.736222,-73.982504,"{'type': 'Point', 'coordinates': [-73.98250380...",40.745471,-73.982419,"{'type': 'Point', 'coordinates': [-73.98241856...",MediaTrust,advertising,Performance Marketing Company,40.743662,-73.984268,2004.0,$21M,21000000.0,USD,"404 Park Avenue South,",10016,New York,"{'type': 'Point', 'coordinates': [-73.984268, ..."