In [1]:
import pandas as pd
import re
import getpass
import json
import numpy as np
import json
import functions as f

In [3]:
with open('./output/1M_company_officess.json', 'r') as myfile:
    data=myfile.read()
obj = json.loads(data)
Comp1M=pd.DataFrame(obj)
Comp1M.head()

,ref,Name,Category,Description,Latitude,Longitude,Founded Year,Total Money Raised,Raised Amount,Currency,Address,Zip code,City,GeoLocations
0,52cdef7c4bab8bd675297d8d,Digg,news,user driven social content website,37.764726,-122.394523,2004.0,$45M,45000000.0,USD,135 Mississippi St,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.394523,..."
1,52cdef7c4bab8bd675297d91,Geni,web,Geneology social network site,34.090368,-118.393064,2006.0,$16.5M,16500000.0,USD,9229 W. Sunset Blvd.,90069,West Hollywood,"{'type': 'Point', 'coordinates': [-118.393064,..."
2,52cdef7c4bab8bd675297d96,Gizmoz,web,Photo animation,37.484130,-122.169472,2003.0,$18.1M,18100000.0,USD,None,None,Menlo Park,"{'type': 'Point', 'coordinates': [-122.169472,..."
3,52cdef7c4bab8bd675297d97,Scribd,news,Read Unlimited Books,37.789634,-122.404052,2007.0,$25.8M,25762000.0,USD,539 Bryant Street,94107,San Francisco,"{'type': 'Point', 'coordinates': [-122.404052,..."
4,52cdef7c4bab8bd675297d98,Slacker,music,Music Personalization Suite,33.022176,-117.081406,2006.0,$73.1M,73100000.0,USD,16935 W. Bernardo Dr. Suite 101,92127,San Diego,"{'type': 'Point', 'coordinates': [-117.081406,..."

In [ ]:
schools=[]
for _,row in Comp1M.iterrows():
    school=dict()
    comp_lat=company['Latitude']
    comp_long=company['Longitude']
    dat=f.apifoursquare(comp_long,comp_lat,"School",3,2000)
    resp=dat['response']
    if resp!={} and resp['totalResults']>0:
        lt=dat['response']['groups'][0]['items'][0]['venue']['location']['lat']
        lg=dat['response']['groups'][0]['items'][0]['venue']['location']['lng']
        starbucks['refcomp']=str(company['_id'])
        starbucks['latitude']=lt
        starbucks['longitude']=lg
        starbucks['geoloc_stb']=f.getLocation(lg,lt)
        all_starbucks.append(starbucks)